#Secret {
    display: none;
}

#Start {
    display: block;
}

#Restart {
    display: none;
}

#Choice1 {
    display: none;
}

#Choice2 {
    display: none;
}

#Next-Page {
    display: none;
}

#Slide1 {
    display: block;
}

#Slide2 {
    display: none;
}

#Slide3 {
    display: none;
}

#Slide4 {
    display: none;
}

#Slide5 {
    display: none;
}

#Slide6 {
    display: none;
}

#Slide7 {
    display: none;
}

#Slide8 {
    display: none;
}

#Slide9 {
    display: none;
}

#Slide10 {
    display: none;
}

#Slide11 {
    display: none;
}

#Slide12 {
    display: none;
}

#Slide13 {
    display: none;
}

#Slide14 {
    display: none;
}


#Slide15 {
    display: none;
}

#Slide16 {
    display: none;
}

#Slide17 {
    display: none;
}

#Slide18 {
    display: none;
}

#Slide19 {
    display: none;
}

#Slide20 {
    display: none;
}

#Slide21 {
    display: none;
}

#Slide22 {
    display: none;
}

#Slide23 {
    display: none;
}

#Slide24 {
    display: none;
}

#Slide25 {
    display: none;
}
